body {
	background-image: url("../images/vaio_hard_edge.png");
	font-size: 20px;
	line-height: 25px;
	font-family: 'Arial', 'Helvetica Neve', Helvetica, sans-serif;
	color: #777;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
	line-height: 90px;
    color: #20fff7;
	font-weight: 700;
    font-size: 30px;
	text-decoration: none;
}

h2 {
	color: #84ff0d;
}

.bigBox {
    margin: auto;
    margin-top: 10px;
    width: 80%;
	padding: 10px 10px 2px 10px;
/*	max-width: auto;*/
	border: 1px solid #ddd;
	background-color: #400ce8;
}